
.input-group-container {
	margin: 0 auto;
	width: 80%;
}

.input-group {
	margin-top: 20px;
}

.form-control {
	width:55%;
}

.btn-secondary:hover {
	background-color:#99B898 !important;
	border-radius: 4px;
}


.table {
	margin-top: 20px;
}